@import "tailwindcss";
@plugin "@tailwindcss/typography";

@theme inline {
  --font-open-sans: var(--font-open-sans);
  --font-lato: var(--font-lato);
  --font-bobby-jones: var(--font-bobby-jones);
  --font-montserrat: var(--font-montserrat);
  --font-mano-negra: var(--font-mano-negra);

  --font-sans: var(--font-lato), var(--font-open-sans), "Open Sans", Arial, Helvetica, sans-serif;
  --font-heading: var(--font-bobby-jones), var(--font-lato);

  --color-tuo-blue: #00aec7;
  --color-tuo-yellow: #ffd900;
  --color-tuo-red: #aa0061;
  --color-tuo-dark-blue: #007a8b;

  --shadow-tuo-md: 0 4px 6px -1px rgba(0, 122, 139, 0.2), 0 2px 4px -2px rgba(0, 122, 139, 0.2);
  --shadow-tuo-lg: 0 10px 15px -3px rgb(0 122 139 / 0.5), 0 4px 6px -4px rgb(0 122 139 / 0.3);
  --shadow-tuo-xl: 0 20px 25px -5px rgb(0 122 139 / 0.7), 0 8px 10px -6px rgb(0 122 139 / 0.7);
  --radius-tuo: var(--radius-xl);

  --animate-infinite-scroll: infinite-scroll 60s linear infinite;

  @keyframes infinite-scroll {
    from {
      transform: translateX(0%);
    }

    to {
      transform: translateX(-100%);
    }
  }
}

@utility tuo-card {
  @apply bg-tuo-blue rounded-md shadow-md transition-all;
  box-shadow:
    var(--shadow-md),
    0 4px 14px var(--color-tuo-dark-blue);
}

@layer base {
  :root {
    @apply bg-neutral-100 font-sans text-neutral-600;
  }

  html {
    scroll-behavior: smooth;
  }

  h2 {
    @apply text-tuo-blue pb-2 text-2xl font-black uppercase md:text-4xl;
  }

  h4 {
    @apply text-tuo-yellow text-xl font-bold;
  }

  h5 {
    @apply text-tuo-blue text-xl font-bold;
  }

  h6 {
    @apply text-tuo-blue font-bold;
  }

  summary {
    display: block;
  }

  img,
  svg {
    display: block;
    max-width: 100%;
  }
}
